@{
    ViewBag.Title = "Home";
}

@section styles{
@Styles.Render("~/Content/index.min.css")
}

@section scripts{
    <script type="text/javascript">
    var menu = [
    { title: "首页", sortindex: 0, icon: "fa fa-home", islink: true, href: "@Url.Content("~/Home/Home")" },
    {
        title: "一级菜单0", sortindex: 0, icon: "fa fa-close", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true},
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: false },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: false}
        ]
    },
    {
        title: "一级菜单1", sortindex: 0, icon: "fa fa-envelope", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单2", sortindex: 0, icon: "fa fa-paper-plane", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单3", sortindex: 0, icon: "fa fa-th", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单4", sortindex: 0, icon: "fa fa-inbox", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单5", sortindex: 0, icon: "fa fa-star", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单6", sortindex: 0, icon: "fa fa-key", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单7", sortindex: 0, icon: "fa fa-envelope", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单8", sortindex: 0, icon: "fa fa-align-left", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "系统管理", sortindex: 0, icon: "fa fa-cogs", islink: false, children: [
        { title: "微信系统日志", sortindex: 0, icon: "fa fa-file-text-o", islink: true,href:"@Url.Content("~/XT/XT_SysLogs")"},
        { title: "微信菜单管理", sortindex: 0, icon: "fa fa-th-large", islink: true, href: "@Url.Content("~/XT/XT_Menus")" },
        { title: "系统菜单管理", sortindex: 0, icon: "fa fa-windows", islink: true, href: "@Url.Content("~/XT/XT_SysMenus")" },
        { title: "微信用户管理", sortindex: 0, icon: "fa fa-users", islink: true,href:"@Url.Content("~/XT/XT_UserManage")"},
        { title: "字体图标", sortindex: 0, icon: "fa fa-tumblr", islink: true, href: "@Url.Content("~/XT/XT_FontIcons")" }
        ]
    }
    ];

    $(function () {

        var $bar = $("#left_bar");
        var _obj_a = {
            "href": "",
            "data-ajax-id": "PersonQuery",
            "data-ajax-update": "#page-main",
            "data-ajax": "true",
            "data-ajax-success": "UpdateProgressBar",
            "data-href": ""
        };

        $.each(menu, function (index, item) {

            if (item.children && item.children.length > 0)
            {
                var $el = $("<li>", { "class": "has-sub" }),
                    $ul = $("<ul>", { "class": "sub-menu" }).hide();
                $.each(item.children, function (i, t) {
                    $.extend(_obj_a, { href: t.href, "data-href": t.href || "" });
                    
                    $ul.append($("<li>").append(
                        $("<a>", _obj_a).text(t.title).prepend($("<i>", { "class": "menuIcon "+t.icon })).click(function () {
                            $("#header_progress").stop(false, true).animate({ width: "80%" }, 2000, "swing");
                            //if (t.islink && t.href) {
                            //    $("#page-main").load(t.href, function () {

                            //    });
                            //}
                        })
                        ));
                });

                $bar.append($el.append(
                        $("<a>", { "href": "javascript:;" }).append($("<b>", { "class": "caret pull-right" })).append($("<i>", { "class": "menuIcon " + item.icon })).append($("<span>").text(item.title)).click(function (e) {
                            var $parent = $(this).parent();
                            if ($parent.hasClass('active')) {
                                $parent.find(">ul").stop(true, false).slideToggle(300);
                                
                            }
                            else {
                                $parent.addClass('active').find(">ul").stop(true, false).slideDown(300).end().siblings('.active').removeClass('active').find(">ul").slideUp(300);
                            }
                        })
                        ).append($ul)
                    );
            }
            else {
                $.extend(_obj_a, { href: item.href, "data-href": item.href || "" });
                var $el = $("<li>").append(
                        $("<a>", _obj_a).append($("<i>", { "class": "menuIcon "+item.icon })).append($("<span>").text(item.title)).click(function () {
                            var $parent = $(this).parent();
                            if ($parent.hasClass('active'))
                            {
                                // $(this).find(">ul").stop(true,false).slideToggle(300);
                                return false;
                            }
                            else
                            {
                                if (item.islink && item.href) {
                                    //$("#page-main").load(item.href, function () {

                                    //});
                                }

                                $("#header_progress").stop(false, true).animate({ width: "80%" }, 2000, "swing");
                                $parent.addClass('active').find(">ul").stop(true, false).slideDown(300).end().siblings('.active').removeClass('active').find(">ul").slideUp(300);
                            }
                        })
                        );
                $bar.append($el);
            }
        });

        $bar.find(">li").eq(0).find(">a").trigger('click');
        
    });

        //更新进度条
    function UpdateProgressBar() {
        $("#header_progress").stop(false, true).animate({ width: "100%" }, 500, function () {
            $(this).width(0);
        });
    }
    </script>
}

<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="javascript:;" id="logo" class="navbar-brand color-white">
                <span class="navbar-logo"></span>
                <i class="fa fa-weixin color-lightred"></i> WeChat
            </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form full-width">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入关键字" autocomplete="off" data-provide="typeahead">
                        <button type="button" class="btn btn-search btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </li>
            <li class="dropdown" id="user_notice">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14 color-white">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-danger">5</span>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header">5条新的通知</li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <div class="text-muted f-s-11">3 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2428676430,4161488114&fm=116&gp=0.jpg" class="media-object" alt=""></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <p>具体内容</p>
                                <div class="text-muted f-s-11">25 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1913246915,2422968925&fm=116&gp=0.jpg" class="media-object" alt=""></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <p>具体内容</p>
                                <div class="text-muted f-s-11">35 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <div class="text-muted f-s-11">1 小时前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading"> xxxx</h6>
                                <div class="text-muted f-s-11">2 小时前</div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a href="javascript:;">更多</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle color-white" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span class="hidden-xs">系统管理员</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li><a href="javascript:;"><i class="fa fa-user"></i>个人信息</a></li>
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> 设置</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;"><i class="fa fa-sign-out"></i>注销</a></li>
                </ul>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<hr id="header_progress" />
<div class="container-fluid page-center">
    <div id="left_bar_box"><ul class="nav" id="left_bar"></ul></div>
    <div class="content" id="page-main">
        @{Html.RenderAction("Home", "Home", null);}
    </div>
</div>